.locations-side {
    width: 15%;
    background: darkgrey;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 20px 10px;
}

.weather-locations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.weather-locations > span {
    padding: 10px 0;
}