.info-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px 40px 20px 65px; 
    margin-left: -25px;

    background: #F5F5F5;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.weather-more {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.weather-more h4 {
    margin: 15px;
    letter-spacing: 1.2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.weather-more__item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.weather-week {
    display: flex;
    justify-content: space-between;
    width: 415px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 10px 20px 5px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FBFBFB;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #FBFBFB;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
}

@media (max-width: 575px) { 
    .info-side {
        padding: 60px 20px 0px 20px;
        width: unset;
        margin: unset;
        box-shadow: 0 0 50px -5px rgb(0 0 0 / 25%);
        margin-top: -30px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .weather-week {
        width: 350px;
    }

    .toggle-container {
        padding: 20px 0 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .info-side {
        padding: 40px 20px 0px 20px;
        width: 100%;
        margin: unset;
        box-shadow: 0 0 50px -5px rgb(0 0 0 / 25%);
        margin-top: -30px;
        border-radius: 25px;
        align-items: center;
    }

    .weather-more {
        width: 100%;
    }
 }