.container {
    width: min(100% - 30px, 840px);
    margin-inline: auto;
    display: flex;
    position: relative;
    z-index: 5;
}

.weather-side.summer, .item-icon.summer {
  background: linear-gradient(to right, #fdc830, #f37335);
}

.weather-side.autumn, .item-icon.autumn {
  background: linear-gradient(to right, #be93c5, #7bc6cc);
}

.weather-side.winter, .item-icon.winter {
  background: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

.weather-side.spring, .item-icon.spring {
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

@media (max-width: 575px) { 
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: unset;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
  .container {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: unset;
  }
 }